/**  {*/
/*    border: 1px black solid;*/
/*}*/

.body {
    /*background-color: cornflowerblue;*/
}

.nav-list {
    display: flex;
    justify-content: space-around;
}

.no-bullet-list {
    list-style-type: none;
}

.nav-item {
    padding: 10px;
    /*margin: 1% 4%;*/
}

.nav-item * {
    color: black;
}

.nav-item:hover {
    transform: scale(1.2);

}

.nav-menu-item {
    padding: 10px;
}

.wrapper, .container {
    background-color: #f4f4f4;
    width: 87.5%;
    margin: auto;
}
.admin_main {
    display: flex;
}
.side-navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    background-color: black;
}
.side-navbar-open {
    width: 20%;
    opacity: 30%;
}
.side-navbar-closed {
    width: 8%;
    opacity: 50%;
}

.admin-data {
    width: 100%;
}

.center-title {
    text-align: center;
}

.clean-link {
    text-decoration: none;
}

.employee-card {
    border: 1px black solid;
    margin: 3%;
    padding: 2% 1.5%;
}

.user-menu-closed {
    display: none;
}

.user-menu-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px black solid;
    width: 150px;
}
.nav-user-button {
    position: relative;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.time-home-greeting {
    text-align: center;
}