/**  {*/
/*    border: 1px black solid;*/
/*}*/

:root {
    --pageWhite: #f4f4f4;
    --color1: #75dfff;
    --color2: #bfa488;
    --color3: #ffbb76;
    --color4: #87a2aa;
    --color5: #80756b;
    --color6: #394e55;
}

body {
    background-color: var(--color6);
}

.page-wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: var(--pageWhite);
    padding: 10px;
    position: sticky;
}

.company-info {
    border: 1px double black;
    display: flex;
    justify-content: space-evenly;
}

.wrench-icon {
    width: 25px;
    height: 25px;
}

.wrench-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ro-company-contact {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    text-align: end;
}

.text-small {
    font-size: small;
    font-weight: bold;
}

.signature {
    border: 0;
    border-bottom: 1px solid #000;
}

.print-only {
    display: none;
}

@media print {
    .print-only {
        display: block;
    }

    .print-hide {
        display: none;
    }
}


/*navigation*/
.nav-list {
    display: flex;
    justify-content: space-around;
}

.no-bullet-list {
    list-style-type: none;
}

.nav-item {
    padding: 10px;
    /*margin: 1% 4%;*/
}

.nav-item * {
    color: black;
}

.nav-item:hover {
    transform: scale(1.2);

}

.nav-menu-item {
    padding: 10px;
}

.wrapper, .container {
    background-color: #f4f4f4;
    width: 87.5%;
    margin: auto;
}

.admin_main {
    display: flex;
}

.side-navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*color: white;*/
    /*background-color: black;*/
    height: 100vh;
    position: sticky;
    top: 0;
}

.side-navbar-open {
    /*width: 20%;*/
    /*opacity: 30%;*/
    /*position: sticky;*/
}

.side-navbar-closed {
    width: 8%;
    opacity: 50%;
}

.admin-data {
    width: 100%;
}

.center-title {
    text-align: center;
}

.clean-link {
    text-decoration: none;
}

.employee-card {
    border: 1px black solid;
    margin: 3%;
    padding: 2% 1.5%;
}

.user-menu-closed {
    display: none;
}

.user-menu-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px black solid;
    width: 150px;
    background-color: #f4f4f4;
    cursor: pointer;
}

.nav-user-button {
    position: relative;
    cursor: pointer;
}


/*data*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #FFFFFF;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.time-home-greeting {
    text-align: center;
}

.center-text {
    text-align: center;
}

td a {
    display: block;
    padding: 5px;
}


/*search view*/

.search-modal:before, .vin-modal:before {
    content: "";
    display: none;
    position: fixed;
    background: black;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
}

.opened:before {
    display: block;
}

.opened .search-wrapper {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
}

.opened .vin-search-wrapper {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: -150%;
}


.search-wrapper {
    width: 30%;
    margin: auto;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    background: seashell;

    z-index: 9;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.vin-search-wrapper {
    width: 30%;
    margin: auto;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    background: seashell;

    z-index: 9;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: translate(0, -600%);
    -ms-transform: translate(0, -600%);
    transform: translate(0, -600%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.search-form {
    display: flex;
    flex-direction: column;
    /*display: table;*/
}

.input-wrapper {
    margin: 5px 0;
}

.right-input {
    text-align: right;
    display: table-cell;
}


.search-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.input-label {
    font-size: small;
    display: table-cell
}

.input-label-small {
    font-size: xx-small;
}

.form-wrapper {
    display: flex;
    justify-content: center;
}


/*search results view*/


.tab-container {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab-container button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab-container button:hover {
    background-color: #ddd;
}

.tab-container button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.result-buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


/*customer details view*/

.detail-image-wrapper, .detail-wrapper {
    margin: auto;
}

.flex {
    display: flex;
    justify-content: center;
}

.edit-button-wrapper, .flex-between {
    display: flex;
    justify-content: space-between;
}

.edit-button-wrapper button {
    height: 25px;
}

.detail-input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-input-wrapper input {
    text-align: end;
    padding: 10px;
    margin: 2%;
    font-size: large;
    box-shadow: 1px 1px lightgray;
    background-color: antiquewhite;
}

.detail-input-wrapper label {
    font-size: small;
}

.input-label-wrapper {
    display: flex;
    margin: 5px;
    justify-content: space-around;
}

#email {
    width: 100%;
}

.button-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.button-container button {
    padding: 10px 25px;
    box-shadow: 3px 3px #dddddd;
}

.hidden-submit {
    text-align: end;
}

.hidden-submit button {
    padding: 5px;
}

.user-avatar-display-wrapper {
    position: relative;
    border: 2px solid black;
    overflow: hidden;
    border-radius: 40%;
    box-shadow: 5px 5px lightgray;
}

.user-avatar-display-wrapper button {
    position: absolute;
    width: fit-content;
    margin-inline: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.vehicle-avatar-display-wrapper {
    position: relative;
    border: 2px solid black;

    box-shadow: 5px 5px lightgray;
    padding: 20px;
    background-color: rgba(184, 164, 182, 0.73);
}

.vehicle-avatar-display-wrapper button {
    position: absolute;
    width: fit-content;
    margin-inline: auto;
    left: 0;
    right: 0;
    bottom: 0;
}


/*ro details*/


.job-modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.job-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15vh auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-animation-name: animatetop;
    -webkit-animation-name: animatetop;
    -moz-animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close-new-job {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-new-job:hover,
.close-new-job:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #000000;
    color: white;
    margin: 5px;
}

.modal-body {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
}

.modal-footer {
    padding: 16px;
    background-color: #5cb85c;
    color: white;
    margin: 15px;
}


.top-wrapper {
    display: flex;
    justify-content: space-between;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
}

.outer-wrapper {
    width: 80%;
    margin: auto;
}

.job-wrapper {
    margin: 15px 0;
    border: 1px solid black;
    padding: 10px;
    position: relative;
}

.ccc-title {
    font-size: medium;
    font-weight: bolder;
    margin-right: 15px;
    background-color: lavender;
    padding: 5px;
}

.ccc-wrapper {
    line-height: 1.5rem;
    /*background-color: lemonchiffon;*/
    margin: 10px;
}

.job-status-info {
    display: flex;
    justify-content: space-around;
    font-size: small;
    width: 250px;
}

.pts-lbr {
    display: flex;
    flex-direction: column;
    font-size: xx-small;
}

.status-label {
    border-bottom: 1px solid black;
}

.part-description {
    font-size: small;
}

.collapsible {
    cursor: pointer;
    width: 100%;
}

.active-job, .collapsible:hover {
    background-color: lemonchiffon;
}

.collapsible:after {
    content: '\002B';
    font-weight: bold;
    cursor: pointer;
}

.active-job:after {
    content: "\2212";
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.ro-button-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.ro-top {
    font-size: large;
}

.top-info {
    margin: auto;
}

.jobs-title {
    display: flex;
    justify-content: space-between;
}


.job-modal-content-wrapper {
    width: 100%;
}


.tab {
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #04AA6D;
}



/*technician work-order*/

.ccc-input-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.ccc-input-wrapper input, .ccc-input-wrapper textarea {
    width: 100%;
}

.border {
    border: 1px solid black;
    margin: auto;
}

.ccc-text {
    margin-left: 100px;
    /*height: 60px;*/
    /*line-height: 20px;*/
    /*overflow: hidden;*/
    /*text-decoration: underline;*/
    /*text-underline: black;*/
}


.editable-job-detail button {
    height: 20px;
    margin: auto 5px;
}

.editable-job-detail {
    display: flex;
    justify-content: space-between;
}

#status_edit * {
    margin: 0 5px;
}

.show {
    display: block;
}

.hide {
    display: none;
    content: none;
}

.info-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
}

.border {
    border: 1px solid black;
    padding: 20px;
}

.tech-job-form {
    padding: 20px;
    margin: 20px 0;
}

.wo-status-edit {
    display: block;
    font-weight: bold;
}

.flex-start {
    display: flex;
    justify-content: start;
}

.flex-start button {
    margin: 0 5px;
}

.flex-end {
    display: flex;
    justify-content: end;
}

.w-100 {
    width: 100%;
}

.punch-button {
    margin: 5px;
    padding: 10px;
    background-color: rgba(255, 0, 0, .5);
    border-radius: 15px;
}

.wo-info {
    margin: auto;
    /*padding 20px;*/
}
.wo-info p {
    font-weight: bold;
}

.wo-info-label {
    font-size: xx-small;
    font-weight: lighter;
    width: 50px;
    display: inline-block;
}

.wo-time-table {
    margin: 100px 0;
}

.wo-nav-button {
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(0, 255, 0, 0.5);
    margin: 5px;
}

.wo-address-info {
    /*height: 60px;*/
    /*line-height: 20px;*/
    /*overflow: hidden;*/
    /*text-decoration: underline;*/
    /*text-underline: black;*/
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.just-cent {
    justify-content: center;
}