<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body class="body">

  <h1>Administrator Page</h1>
  <hr>
  <div class="admin_main">
    <nav class="navbar">
      <ul>
        <li>
          <navitem class="nav_item">Home</navitem>
        </li>
        <navitem class="nav_item">Current work week</navitem></li>
        <li><navitem class="nav_item">Employees</navitem></li>
        <li><navitem class="nav_item">More</navitem></li>
      </ul>
    </nav>
    <div>
      <h3>Active Employees</h3>
      <table>
      </table>
    </div>

  </div>

</body>
</html>