<!DOCTYPE html>
<html lang="en">
<!--reusable header with a page_title parameter-->
<head th:fragment="head (page_title)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title th:text="${page_title}">Template Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<!--horizontal navigation bar - inserted into a header-->
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header-top (username)">
    <div class="container">
        <ul class="nav-list">
            <li class="no-bullet-list nav-item"><a class="clean-link" href="#" th:href="@{/}">Home</a></li>
            <li class="no-bullet-list nav-item"><a class="clean-link" href="#" th:href="@{/repair_orders}">Repair
                Orders</a></li>
            <li class="no-bullet-list nav-item"><a class="clean-link" href="#">Appointments</a></li>
            <li class="no-bullet-list nav-item"><a class="clean-link" href="#" th:href="@{/customers}">Customers</a></li>
            <li class="no-bullet-list nav-item"><a class="clean-link" href="#" th:href="@{/vehicles}">Vehicles</a></li>
            <li class="no-bullet-list nav-item"><a class="clean-link" href="#">Parts</a></li>
            <li class="no-bullet-list nav-item"><a class="clean-link" href="#">Support</a></li>
            <!--            <li class="no-bullet-list nav-item"><a class="clean-link" href="#">User</a></li>-->
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="no-bullet-list nav-item"><a class="clean-link" href="#"
                                                                                         th:href="@{/admin}">Admin</a>
            </li>
            <li id="nav_user_link" class="no-bullet-list nav-item nav-user-button" onmouseenter="toggleUserMenu()" onmouseleave="toggleUserMenu()">
                <span class="clean-link" th:text="${username} ? ${username} : 'User'">UPLogout</span>
                <div id="nav_user_menu" class="user-menu-closed">
                    <a class="clean-link nav-menu-item" href="#" th:href="@{/timeclock}" th:text="Time-Clock"></a>
                    <a class="clean-link nav-menu-item" href="#">User Profile</a>
                    <a class="clean-link nav-menu-item" href="#" th:href="@{/logout}" th:text="Logout"></a>
                </div>
            </li>
        </ul>


    </div>
</nav>

<div th:fragment="forward-back">
    <a class="clean-link back-button" href="javascript:window.history.back();">
        <button type="button">Back</button>
    </a>
<!--    <a href="javascript:window.history.forward();">></a>-->
</div>

<div th:fragment="customer-list (customers)">
    <table>
        <tr>
            <th>Customer ID</th>
            <th>Customer</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
        </tr>

        <tr th:each="customer : ${customers}">
            <td>
                <a class="clean-link" href="#" th:href="@{/customers/customer(id=${customer.id})}" th:text="${customer.id}"></a>
            </td>
            <td>
                <a class="clean-link" href="#" th:href="@{/customers/customer(id=${customer.id})}" th:text="${customer.getName()}"></a>
            </td>
            <td>
                <a class="clean-link" href="#" th:href="@{/customers/customer(id=${customer.id})}" th:text="${customer.contactInformation.primaryPhone}"></a>
            </td>
            <td>
                <a class="clean-link" href="#" th:href="@{/customers/customer(id=${customer.id})}" th:text="${customer.email}"></a>
            </td>
            <td>
                <a class="clean-link" href="#" th:href="@{/customers/customer(id=${customer.id})}" th:text="${customer.address.getAddress()}"></a>
            </td>
        </tr>
    </table>
</div>


<div th:fragment="vehicle-list (vehicles)">
    <table>
        <tr>
            <th>ID</th>
            <th>INFO</th>
            <th>VIN</th>
            <th>Customer</th>
            <th>Last Seen</th>
        </tr>

        <tr th:each="vehicle : ${vehicles}">
            <td>
                <a class="clean-link" href="#" th:href="@{/vehicles/vehicle(id=${vehicle.id})}" th:text="${vehicle.id}"></a>
            </td>
            <td>
                <a class="clean-link" href="#" th:href="@{/vehicles/vehicle(id=${vehicle.id})}" th:text="${vehicle.getVehicleInfo()}"></a>
            </td>
            <td>
                <a class="clean-link" href="#" th:href="@{/vehicles/vehicle(id=${vehicle.id})}" th:text="${vehicle.vin}"></a>
            </td>
            <td>
                <a class="clean-link" href="#" th:href="@{/vehicles/vehicle(id=${vehicle.id})}" th:text="${vehicle.customer.getName()}"></a>
            </td>
            <td>
                <a class="clean-link" href="#" th:href="@{/vehicles/vehicle(id=${vehicle.id})}" th:text="${'11/21/2004'}"></a>
            </td>
        </tr>
    </table>
</div>





<!--footer to go with navigation header, this contains the needed js for the user drop down menu-->
<footer th:fragment="foot">
    <script>
        let m = document.querySelector("#nav_user_menu")

        let toggleUserMenu = () => {
            console.log(`menu=${m}`)
            m.classList.toggle("user-menu-closed")
            m.classList.toggle("user-menu-open")
        }

        document.querySelector("#nav_user_link")
            .addEventListener("click", e => toggleUserMenu())


    </script>
</footer>
</body>
</html>