<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments::head (page_title='Vehicle Search')}"></head>
<body>

    <div class="search-modal" th:fragment="search">
        <div class="search-wrapper a1">
            <h2 class="center-text">Search</h2>
            <div class="form-wrapper">
                <form action="#" th:action="@{/search/}" class="search-form">
                    <div class="input-wrapper">
                        <input type="number" name="custId" id="id" class="right-input" value="0" placeholder="60120">
                        <label for="id" class="input-label">Customer ID</label>
                    </div>
                    <div class="input-wrapper">
                        <input type="checkbox" name="isCool">
                        <label for="looking_cool" class="input-label-small">Cool Checkbox</label>
                    </div>
                    <div class="input-wrapper">
                        <input type="text" id="first_name" name="fname" class="right-input" placeholder="John">
                        <label for="first_name" class="input-label">First Name</label>
                    </div>
                    <div class="input-wrapper">
                        <input type="text" id="last_name" name="lname" class="right-input" placeholder="Doe">
                        <label for="last_name" class="input-label">Last Name</label>
                    </div>
                    <div class="input-wrapper">
                        <input type="text" id="phone" name="phone" class="right-input" placeholder="904555555"
                        pattern="(0-9).{9,}">
                        <label for="phone" class="input-label">Phone</label>
                    </div>
                    <div class="input-wrapper">
                        <input type="text" id="email" name="email" class="right-input" placeholder="john@doe.com"
                        pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
                        <label for="email" class="input-label">Email</label>
                    </div>
                    <div class="input-wrapper">
                        <input type="text" id="vin" name="vin" class="right-input" placeholder="JH4TB2H26CC000000">
                        <label for="vin" class="input-label">VIN</label>
                    </div>

                    <div class="input-wrapper">
                        <input type="checkbox" name="custSearch" id="customer" checked class="right-input">
                        <label for="customer" class="input-label-small">Customer Records</label>
                    </div>

                    <div class="input-wrapper">
                        <input type="checkbox" id="vehicle" name="vehicleSearch" checked class="right-input">
                        <label for="vehicle" class="input-label-small">Vehicle Records</label>
                    </div>

                    <div class="search-button-container">
                        <button id="close_search_modal">cancel</button>
                        <button type="submit">submit</button>
                    </div>
                </form>
            </div>
        </div>

        <script>
            document.querySelector("#open_search_modal").addEventListener("click", evt => {
                evt.preventDefault()
                document.querySelector(".search-modal").classList.toggle("opened")
            })

            document.querySelector("#close_search_modal").addEventListener("click", evt => {
                evt.preventDefault()
                document.querySelector(".search-modal").classList.toggle("opened")
            })
        </script>
    </div>









    <div class="vin-modal" th:fragment="vin-search (action, searching_customer_id)">
        <div class="vin-search-wrapper a1">
            <h2 class="center-text">Search</h2>
            <div class="form-wrapper">
                <form action="#" th:action="${action}" id="vin_search_form" class="search-form" method="post">
                    <div th:if="${searching_customer_id}">
                        <input type="hidden" name="custId" th:value="${searching_customer_id}">
                    </div>
                    <div class="input-wrapper">
                        <input type="text" name="vin" id="vin" class="right-input" placeholder="JH4TB2H26CC000000">
                        <label for="vin" class="input-label">VIN</label>
                    </div>

                    <div class="search-button-container">
                        <button id="close_vin_search_modal">CANCEL</button>
                        <button th:unless="${searching_customer_id}" type="button" id="new_vehicle_button">ADD NEW</button>
                        <button type="submit">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>

        <script>
            document.querySelector("#open_vin_search_modal").addEventListener("click", evt => {
                evt.preventDefault()
                document.querySelector(".vin-modal").classList.toggle("opened")
            })

            document.querySelector("#close_vin_search_modal").addEventListener("click", evt => {
                evt.preventDefault()
                document.querySelector(".vin-modal").classList.toggle("opened")
            })

            let searchForm = document.getElementById("vin_search_form");
            document.getElementById("new_vehicle_button").addEventListener("click", e =>  {
                searchForm.action = "/vehicles/vehicle/create"
                // searchForm.method = "post"
                searchForm.submit();
            })
        </script>
    </div>

















    <div>
        <div>
            <p id="open_modal"><span><button class="btn">a</button></span></p>
        </div>
    </div>



</body>
</html>