<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Time Home</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
  <header th:insert="fragments::header"></header>
  <h1>TimeClock Home</h1>
  <a href="/">HOME?LANDING PAGE (just in case)</a>
  <hr>
  <h3>Hello, <span th:utext="${username}"></span>  you are <span th:text="${clockedInStatus} ? 'CLOCKED IN' : 'CLOCKED OUT'"></span></h3>
  <p>Time Punches for: <span th:text="${currentDate}"></span></p>
  <div>

    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>

    <h3>timePunchSets</h3>
    <table>
      <tr>
        <th>ID</th>
        <th>DATE</th>
        <th>IN-TIME</th>
        <th>OUT-TIME</th>
      </tr>
      <tr th:each="s : ${punchSetList}">
        <td><span th:text="${s.id}"></span></td>
        <td><span th:text="${s.date}"></span></td>
        <td>
          <p>
            <span th:text="${s.in.time}"></span>
            <span th:text="${s.in.code}"></span>
          </p>
        </td>
        <td>
          <p>
            <span th:if="${s.out}" th:text="${s.out.time}"></span>
            <span th:text="${s.out} ? ${s.out.code} : '--'"></span>
          </p>
        </td>
      </tr>
    </table>
  </div>

  <hr>
  <hr>
  <hr>


  <form action="#" th:action="${clockedInStatus} ? '/timeclock/out' : '/timeclock/in' " method="post">
    <div th:if="${!clockedInStatus}">
      <input type="radio" id="in" name="code" value="IN">
      <label for="in">IN</label>
      <br>
    </div>

    <div th:if="${clockedInStatus}">
      <input type="radio" id="break" name="code" value="BREAK">
      <label for="break">BREAK</label>
      <br>
    </div>

    <div th:if="${clockedInStatus}">
    <input type="radio" id="lunch" name="code" value="LUNCH">
    <label for="lunch">LUNCH</label>
    <br>
    </div>

    <div th:if="${clockedInStatus}">
    <input type="radio" id="out" name="code" value="OUT">
    <label for="out">OUT</label>
    </div>

    <input id="submitButton" type="submit">
  </form>
</body>

</html>